[submodule "foundry/lib/forge-std"]
	path = foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry/crowdsourcing-app/lib/forge-std"]
	path = foundry/crowdsourcing-app/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry/crowdsourcing-app/lib/chainlink-brownie-contracts"]
	path = foundry/crowdsourcing-app/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry/crowdsourcing-app/lib/foundry-devops"]
	path = foundry/crowdsourcing-app/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
[submodule "foundry/2-crowdsourcing-app/lib/foundry-devops"]
	path = foundry/2-crowdsourcing-app/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "foundry/2-crowdsourcing-app/lib/chainlink-brownie-contracts"]
	path = foundry/2-crowdsourcing-app/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry/2-crowdsourcing-app/lib/forge-std"]
	path = foundry/2-crowdsourcing-app/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry/3-lottery/lib/foundry-devops"]
	path = foundry/3-lottery/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "foundry/3-lottery/lib/chainlink-brownie-contracts"]
	path = foundry/3-lottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry/3-lottery/lib/forge-std"]
	path = foundry/3-lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry/3-lottery/lib/solmate"]
	path = foundry/3-lottery/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "erc20/lib/forge-std"]
	path = erc20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "erc20/lib/openzeppelin-contracts"]
	path = erc20/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "nft/lib/forge-std"]
	path = nft/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "nft/lib/openzeppelin-contracts"]
	path = nft/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "nft/lib/foundry-devops"]
	path = nft/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
[submodule "upgradeable/uups/lib/forge-std"]
	path = upgradeable/uups/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "upgradeable/uups/lib/openzeppelin-contracts-upgradeable"]
	path = upgradeable/uups/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "upgradeable/uups/lib/openzeppelin-contracts"]
	path = upgradeable/uups/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "upgradeable/uups/lib/foundry-devops"]
	path = upgradeable/uups/lib/foundry-devops
	url = https://github.com/chainaccelorg/foundry-devops
[submodule "dao/lib/forge-std"]
	path = dao/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "dao/lib/openzeppelin-contracts"]
	path = dao/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "arbitrum/lib/forge-std"]
	path = arbitrum/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "arbitrum/lib/chainlink-brownie-contracts"]
	path = arbitrum/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "account-abstraction/lib/forge-std"]
	path = account-abstraction/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "account-abstraction/lib/openzeppelin-contracts"]
	path = account-abstraction/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "account-abstraction/lib/account-abstraction"]
	path = account-abstraction/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "account-abstraction/lib/foundry-era-contracts"]
	path = account-abstraction/lib/foundry-era-contracts
	url = https://github.com/cyfrin/foundry-era-contracts
[submodule "account-abstraction/lib/foundry-devops"]
	path = account-abstraction/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "airdrop-and-signatures/lib/forge-std"]
	path = airdrop-and-signatures/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "airdrop-and-signatures/lib/murky"]
	path = airdrop-and-signatures/lib/murky
	url = https://github.com/dmfxyz/murky
[submodule "airdrop-and-signatures/lib/foundry-devops"]
	path = airdrop-and-signatures/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "airdrop-and-signatures/lib/openzeppelin-contracts"]
	path = airdrop-and-signatures/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
